# Caddy
MY_DOMAIN=localhost
MY_EMAIL=

# MariaDB (for Nextcloud)
# See: https://hub.docker.com/_/mariadb/
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Nextcloud
# See: https://github.com/nextcloud/docker/#auto-configuration-via-environment-variables
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
MYSQL_HOST=
NEXTCLOUD_TRUSTED_DOMAINS=

# Bitwarden
# https://github.com/dani-garcia/bitwarden_rs/wiki/Disable-registration-of-new-users
# https://github.com/dani-garcia/bitwarden_rs/wiki/Enabling-admin-page
SIGNUPS_ALLOWED=
ADMIN_TOKEN=
